/node_modules
/public/landing_pages
/public/landing_sliders
/public/review_landing_sliders
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/public/products
/public/uploads
/public/thumb_products
/.idea
/.vscode
